[Desktop Entry]
Version=1.0
Type=Application
Name=Degrochats
Comment=Лучший мессенджер
Exec=degrochats
Icon=com.pingvi.degrochats
Terminal=false
Categories=Chat;Network;InstantMessaging;
